iframe{
    width: 100%;
    height: 339px;
}
.publicar-video{
    color: #fff !important;
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
    width: 160px;
    border-radius: 25px;
    padding: 8px 20px;
    margin-left: 30px;
    transition: 0.3s;
    list-style: none;
}
@font-face {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    src: url(http://teste-teste.ucoz.com.br/sittella.ttf);
  }
.barra-lateral{

}

.section-publicar-video{
    position: fixed;
    bottom: 0;
    right: 10px;
}

.publicar-video:hover{
    color: #fff !important;
    background: linear-gradient(180deg, rgb(112, 117, 216) 0%, rgb(121, 102, 197) 100%);
}
.uk-accordion-title::before{
    display: none;
}
.filter iframe{
    height: 169px !important;
    border-radius: 25px 25px 0px 0px;
}
.filter .uk-card-default{
    box-shadow: 0 4px 8px 0 #d2d7ef, 0 6px 20px 0 #dde3f4;
    transition: 0.3s;
}
.filter .uk-card-body{
    padding: 15px 40px;
}
.filter .uk-card-default:hover{
    transform: scale(1.02);
}

.formulario-preview{
    border-right: 1px solid;
    padding-right: 20px;
}

.formulario-preview .text-iframe{
    margin: 0px !important;
    margin-left: 10px !important;
    font-size: 12px;
    color: #1e87f0;
}

.formulario-preview .uk-icon{
    padding: 5px;
    color: #ffffff;
}
.formulario-preview ::placeholder {
    color: #cee3fa;
    font-size: 14px;
}
.formulario-preview .uk-icon:hover{
    background: #7e6fdf;
    border-radius: 25px;
}

.primeiro-icone{
    border-right: 1px solid #7e6fdf;
    background: none;
    padding: 0px;
    margin-right: 5px;
}

.caixa-de-como-pegar-link-iframe{
    display: flex;
    justify-content: end;
}
.caixa-de-como-pegar-link-iframe p{
    border-radius: 5px;
    border: 2px solid #7e6fdf;
    padding: 10px;
    font-weight: 400 !important;
    font-size: 14px;
}

.sinalizacao-de-troca{
    color: #1e87f0;
    font-weight: bold;
    border: 1px solid red;
}

.uk-modal-dialog{
    width: 800px;
}

.formulario-preview .uk-button-primary{
    border: none;
    margin-top: 20px;
}

.formulario-preview h2{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.formulario-preview p{
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 10px;
    color: #ffffff;
}

.formulario-preview .uk-input{
    border-radius: 10px;
    background: #7e6fdf !important;
    border: none;
    color: #ffffff;
}

.formulario-preview  .uk-input, .uk-select, .uk-textarea{
    background: #7e6fdf !important;
}

.campo-preview .uk-accordion-content .uk-container{
    width: 200px !important;
    font-size: 10px;
    word-break: break-all;
    border: 1px solid;
    padding: 20px;   
    color: #ffffff;
}

.uk-accordion-content .uk-container{
    overflow-x: scroll;
    height: 500px;
}

.campo-preview  .uk-accordion-title{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px;
    color: #ffffff;
    transition: 0.3s;
}
.campo-preview iframe{
    height: 160px;
}

.uk-container-primary{
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
    padding: 20px;
    border-radius: 25px;
}

.campo-preview .uk-accordion{
    margin-left: 20px;
}
.campo-preview .preview-post {
    width: 50%;
    transition: 5s;
}
.preview-post .name{
    margin: 0px !important;
}
.preview-post h3{
    margin: 5px 0px !important;
    font-weight: bold;
}
.uk-offcanvas-bar{
    color: #333;
}
.uk-offcanvas-bar .titulo{
    color: #333;
    margin-bottom: -15px;
}
.uk-subnav{
    display: block;
    border-left: 1px solid #333;
    padding-left: 3px;
}

.uk-subnav-pill>.uk-active>a{
    border-radius: 5px;
    color: #fff !important;
    background:linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
}
.uk-subnav-pill a{
    color: #333 !important;
}
.uk-subnav-pill a:hover{
    color:#fff !important;
}

.uk-subnav-pill>li{
    border-right: 1px solid black;
    padding: 0px;
    text-align: left !important;
    margin-bottom: 3px;
}
.uk-subnav-pill>*>:first-child{
    border-radius: 5px;
    transition: 0.3s;
}
.uk-subnav-pill>*>:first-child:hover {
    background:linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
    
}
.filter p{
    text-align: left !important;
    margin: 0px;
}
.felx-botoes-filter{
    display: flex;
    justify-content: end;
}
.felx-botoes-filter .uk-icon>* {
    transform: translate(0,0);
    font-weight: bold;
    stroke-width: 2px !important;
    width: 35px;
    color: #fff;
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
    border-radius: 25px;
    padding: 5px;
    transition: 0.3s;
    margin-left: 5px;
}
.felx-botoes-filter .uk-icon>*:hover{
    background: linear-gradient(180deg, rgb(112, 117, 216) 0%, rgb(121, 102, 197) 100%);
}
.filter .name{
    margin-bottom: 5px;
    font-size: 12px;
    padding: 2px 8px;
    color: #fff;
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
    border-radius: 5px;
    display: table;
}
.filter h3{
    text-align: left !important;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
.filter .uk-button-primary{
    display: table;
    justify-content: bottom;
}
.uk-slideshow-items {
    min-height: 500px !important;
}
.uk-slideshow-items li{
    height: 100% !important;
    width: 100% !important;
}
.slideshow{
    padding: 0px;
    margin-top: -90px;
}
.uk-navbar-container{
 box-shadow: 0 2px 11px 0px #4d4d4d21 !important;
 background: #f0f3fc;
}
.uk-navbar-nav>li>a{
    color: #000000!important;
    transition: 0.3s;
    border-bottom: 1px solid #f0f3fc;
    font-size: 12px;
    font-weight: 400;
    min-height: 40px;
}
.uk-navbar-container .uk-container{
    max-width: 1024px !important;
}

.uk-navbar-nav>li>a:hover{
    color: #363636 !important;
    border-bottom: 1px solid #7e6fdf;
}
.uk-logo img{
    width: 52px !important;
}
.uk-dotnav>*>*{
    width: 50px;
    border-radius: 15px;
    border-color: rgba(128,133,245,1);
}
.uk-dotnav>.uk-active>* {
    color: #fff;
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%) !important;
}
uk-dotnav > * > :focus, .uk-dotnav > * > :hover {
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%) !important;
}
.uk-section-default{
    background: linear-gradient(90deg, rgba(245,246,253,1) 0%, rgba(222,237,251,1) 65%, rgba(242,204,247,1) 100%);
}
html{
    background: linear-gradient(90deg, rgba(245,246,253,1) 0%, rgba(222,237,251,1) 65%, rgba(242,204,247,1) 100%);
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.slider .uk-dotnav>*>*{
    border-color: black !important;
}
.slider .uk-dotnav>.uk-active>* {
    background: black;
}
.slider .uk-slidenav{
    color: black;
}
.slider .uk-slidenav:hover{
    color: rgb(27, 27, 27);
}
.uk-slider-container {
    background: #cfcfcf;
    border-radius: 0px 25px 25px 0px;
}
.uk-slider-items{
    text-align: left;
}
.uk-slider-items .uk-card{
    border-radius: 0px 29px 25px 0px !important;
    box-shadow: none;
    background: #cfcfcf;
}
.uk-slider-items .uk-icon{
    margin-bottom: 5px !important;
    margin-left: 5px;
}
.uk-slider-items iframe{
    border-radius: 0px 25px 0px 0px;
}
.titulo{
    color: #fff;
    font-weight: bold;
}
.uk-background-muted{
    background-color: black;
    border-radius: 23px 0px 0px 23px;
    text-align: left;
}
.uk-background-muted h2{
    color: #fff;
    font-size: 30px !important;
    font-weight: bold;
}
.uk-background-muted p{
    color: #fff;
}
.uk-background-muted li{
    color: #fff;
}
.uk-offcanvas-bar {
    background: #ced7e1;
}

.uk-button-default{
    border-radius: 25px;
    color: #fff !important;
    transition: 0.3s;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(128,133,245,1) 0%, rgba(151,127,245,1) 100%);
    min-height: auto !important;
}
.uk-button-primary{
    border: 1px solid black;
    border-radius: 25px;
    color: black !important;
    font-weight: bold;
    transition: 0.3s;
}
.uk-button-primary:hover{
    background: black !important;
    color: #fff !important;
}
.uk-button-default .uk-icon{
    margin-right: -20px;
    transition: 0.3s;
}
.uk-button-default:hover .uk-icon{
    margin-left: 10px;
}
.uk-button-default:hover{
    background: #fff;
    color: black;
    border: 1px solid #7e6fdf !important;
}
.uk-card{
    border-radius: 25px !important;
    height: 100%;
}
@media(max-width: 959px){
    .filter iframe{
        height: 200px !important;
    }
    .uk-subnav-pill > li{
        border: none;
    }
    .uk-subnav{
        margin-left: 0px;
    }
    .uk-navbar-nav>li>a{
        border: none;
        color: #333 !important;
    }
    .uk-navbar-nav>li>a:hover{
        color: #a7a3a3 !important;
        border: none;
    }
    .uk-navbar-container{
        width: 100%;
        margin-bottom: -12px;
        background: #fff;
    }
    .uk-background-muted {
        border-radius: 25px 25px 0px 0px;
    }
    .uk-sticky-fixed {
        display: flex;
        top: 0px !important;
        justify-content: center;
    }
    .uk-slider-items iframe{
        border-radius: 0px !important;
    }
    .uk-slider-items{
        text-align: center;
    }
    .uk-slider-items iframe{
        height: 200px;
    }
    .uk-slider-container {
        border-radius: 0px 0px 25px 25px;
    }
    .campo-preview .preview-post {
        width: 100%;
    }
    .campo-preview .uk-accordion{
        margin-left: 0px;
    }
    .campo-preview .uk-accordion-content{
        width: 86% !important;
    }
}
@media(max-width: 500px){
    .uk-accordion-content .uk-container{
        height: 280px;
    }
    .campo-preview{
        display: block !important;
    }
}
